<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider item-text-wrap; padding:10px; height: 50px;">
        <img ng-src="img/willem.jpg" style="width: 25px; height: 25px;">
        <span> teste</span>
      </div>
      <div class="item">
        <img ng-src="{{chat.face}}" style="width: 25px; height: 25px">
        <span> {{chat.lastText}}</span>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
  </label>
  <button class="button button-clear" ng-click="sendMessage()">
  Enviar
  </button>
</ion-footer-bar>
</ion-view>
