<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

      <p align="center"><img src="img/logobarao.png"/></p>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-balanced" ng-click="login()">Acessar</button>
  </ion-content>
</ion-view>