<ion-view view-title="Dashboard">
  <ion-content class="padding" ng-controller="NotasCtrl as ctrl">

    <div class="list card" ng-repeat="data in ctrl.notas">

      <div class="item item-balanced">
        <h2>{{data.id}} - {{data.disciplina}}</h2>
      </div>

      <div class="item item-body">
        <div class="row">
          <div class="col col-30" align="right">Faltas</div>
          <div class="col col-70">{{data.faltas}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Nota 1</div>
          <div class="col col-70">{{data.nota1}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Nota 2</div>
          <div class="col col-70">{{data.nota2}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Nota 3</div>
          <div class="col col-70">{{data.nota3}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Nota 4</div>
          <div class="col col-70">{{data.nota4}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Recuperação</div>
          <div class="col col-70">{{data.recuperacao}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Média</div>
          <div class="col col-70">{{data.media}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Final</div>
          <div class="col col-70">{{data.final}}</div>
        </div>
        <div class="row">
          <div class="col col-30" align="right">Resultado</div>
          <div class="col col-70">{{data.resultado}}</div>
        </div>
      </div>

    </div>



  </ion-content>
</ion-view>
